go 1.19

use (
	./concurrency
	./design-pattern
	./gapi
	./k8s
	./limiter
	./memdec
	./monetary-system
	./myrpc
	./mysql-press
	./mywire
	./progress-bar
	./questions
	./rocketmq
	./rule
	./sgrpc
	./srpc
	./statusmachine
	./strategy
	./stream
	./websocketdemo/websocket
	./websocketdemo/wsbinary
)
