go 1.19

use (
	./concurrency
	./design-pattern
	./gapi
	./limiter
	./monetary-system
	./myrpc
	./mywire
	./progress-bar
	./questions
	./rule
	./sgrpc
	./srpc
	./statusmachine
	./stream
	./websocketdemo/websocket
	./websocketdemo/wsbinary
)
